.kpi{
    max-width: 258px;
    min-width: 258px;
    max-height: 263px;
    min-height: 263px;
    position: relative;
    background-color: #FBFBFB;
    border-radius: 5px;


    h1{
        position: absolute;
        font-size: 18px;
        font-weight: 600;
        top: 10px;
        left: 25px;
    }

    .titre{
        color: #191d2e;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: 500;
        font-size: 16px;
    }

    &__legende{
        color: #74798C;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-top: 20px;

        .pourcentage{
            color: #20253A;
            font-size: 20px;
            font-weight: 700;
        }
    }
}